:root {
  --Primary: #04e474;
}
body {
  background: #000;
  color: #fff;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}
p,
h2 {
  margin: 0;
}

.main {
  width: 375px;
  height: 812px;
  background: #303234;
  border-radius: 30px;
  padding: 30px;
  display: grid;
  gap: 30px;
}
.led {
  background: #303234;
  box-shadow: inset -10px -10px 15px rgba(106, 106, 106, 0.25),
    inset 10px 10px 15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 30px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}
.led p:nth-child(1){
  font-weight: bold;
  font-size: 20px;

}

.led p:nth-child(2) {
  color: var(--Primary);
  font-size: 40px;
  font-weight: bold;
}
section {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.btn {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 66px;
  background: #303234;
  box-shadow: -6px -6px 16px rgba(83, 83, 83, 0.25),
    6px 6px 16px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-size: 30px;
  transition: .2s ease-in-out;
}
.btn:hover{
  transform: translate(0 , -5px);
}
.btn:active {
  transform: scale3d(1.05, 1.05, 1.05);
  transition-duration: .1s;
}
.btn.color {
  color: var(--Primary);
}

.btn-custom {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 177px;
  background-color: var(--Primary);
}
